/* Resetting some default browser styles */
body, h1, h2, p, a {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: 'Ubuntu', sans-serif;
}

/* Title Styles */
.title {
    text-align: center;
    font-size: 4em;
    margin-top: 10px; /* Small space from the top */
    color: #e62525; /* Dark red color */
}

/* Header Styles */
.header {
    text-align: center;
    margin-bottom: 20px;
    position: relative; /* Required for absolute positioning */
}

.header::after {
    content: '';
    display: block;
    border-bottom: 2px solid black; /* Dark red line */
    width: 20%;
    position: absolute;
    bottom: -5px; /* Adjusted position */
    left: 40%; /* Centered line */
}

/* Navigation Link Styles */
.pubkey-link {
    text-align: center; /* Center the content */
    margin-bottom: 10px;
}

.pubkey-link a {
    text-decoration: none;
    color: #e62525; /* Dark red color */
    font-weight: bold;
    border: 1.5px solid #e62525; /* Dark red border */
    padding: 3px 8px; /* Padding for the box */
    display: inline-block;
    border-radius: 3px; /* Rounded corners */
    transition: color 0.3s, background-color 0.3s; /* Smooth transition on hover */
}

.pubkey-link a:hover {
    color: #ff6666; /* Light red color on hover */
    background-color: #ffe6e6; /* Light red background on hover */
}

/* Footer Styles */
.footer {
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px; /* Adjusted margin */
}
